*{
    margin: 0px;
    padding: 0px;
}
.header{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    justify-content: space-between;
    margin: 0px 150px;
    
    
    
}
.first-Page{
    background-color: #FFF8F3;
    background-image: url('images/developer.png'), url('images/header_bg.png');
    background-position: bottom left, bottom right;
    background-repeat: no-repeat;
    background-size: 90px, auto;
}
.redr{
    color: #FD6E0A;
 
}
ul{
    display: flex;
    list-style: none;
    align-items: center;
    
}
ul li, .btn{
    margin: 20px;
    cursor: pointer;
    font-family: Open Sans;
    font-size: 20px;
    
}

.btn{
    cursor: pointer;
   
    padding: 10px 25px;
    background-color: #FD6E0A;
    color: #FFF8F3;
    border: none;
    margin: 0px;
}

.btn1{
    cursor: pointer;
    padding: 10px 25px;
    /* background-color: #FD6E0A; */
    color: #FD6E0A;
    border: 2px solid #FD6E0A;
    margin: 0px;
}


.container{
    display: flex;
    height: auto;
    gap: 10px;
   
}

.container>img{
    height: 600px;
}
.banner{
padding:100px 150px;


}


.name{
    font-size: 50px;
    padding: 20px 0px 20px 0px;
}

.text-box{
    font-size: 18px;
}
.but{
    display: flex;
    gap: 10px;
    margin-top: 20px;
}
